# Static with matrices
*Plain Frame*

In [26]:

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline

## Import modules and data

In [27]:
df = pd.read_excel('data.xlsx', header=1, index=False)
df.dropna(axis=1, how='all', inplace=True)
df.drop(axis=1, labels=df.columns[range(-1, -5, -1)], inplace=True)
df.head()

,Node,x,y,Element,type,Dx1j,Dx2j,node_j,node_k,Dx1k,Dx2k,b,h,A,I,E,Tin,Tex,To,dL
0,1,0.0,0.0,1,P2,0.9,0.0,1.0,2.0,0.0,0.0,0.2,0.5,0.100,0.002083,20000000.0,20.0,40.0,10.0,0.0
1,2,6.1,0.0,2,P2,0.0,0.0,2.0,3.0,0.0,0.0,0.2,0.4,0.080,0.001067,20000000.0,20.0,40.0,10.0,0.0
2,3,11.3,0.0,3,P1,0.0,0.0,3.0,4.0,0.0,0.0,0.0,1.0,0.001,0.000000,200000000.0,20.0,20.5,10.0,0.0
3,4,9.8,-2.2,4,P1,0.0,0.0,3.0,5.0,0.0,0.0,0.0,1.0,0.001,0.000000,200000000.0,20.0,20.5,10.0,0.0
4,5,12.8,-2.2,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# array of nodes
coordinates = df.loc[:, ['x', 'y']]
coordinates.dropna(inplace=True)
coordinates.set_index(df.iloc[:coordinates.shape[0], 0], inplace=True)
coordinates.index.rename('NodeID', inplace=True)
coordinates

           x    y
NodeID
1        0.0  0.0
2        6.1  0.0
3       11.3  0.0
4        9.8 -2.2
5       12.8 -2.2

In [29]:
# array of elements and characteristics
elems = df.loc[:, 'Element':]
elems.dropna(inplace=True)
elems.set_index(['type', 'Element'], inplace=True)
elems.index.rename(['ElementType', 'ElementID'], level=[0, 1], inplace=True)
elems

                       Dx1j  Dx2j  node_j  node_k  Dx1k  Dx2k    b    h  \
ElementType ElementID
P2          1           0.9   0.0     1.0     2.0   0.0   0.0  0.2  0.5
            2           0.0   0.0     2.0     3.0   0.0   0.0  0.2  0.4
P1          3           0.0   0.0     3.0     4.0   0.0   0.0  0.0  1.0
            4           0.0   0.0     3.0     5.0   0.0   0.0  0.0  1.0

                           A         I            E   Tin   Tex    To   dL
ElementType ElementID
P2          1          0.100  0.002083   20000000.0  20.0  40.0  10.0  0.0
            2          0.080  0.001067   20000000.0  20.0  40.0  10.0  0.0
P1          3          0.001  0.000000  200000000.0  20.0  20.5  10.0  0.0
            4          0.001  0.000000  200000000.0  20.0  20.5  10.0  0.0

In [107]:
class Structure(object):
    
    def __init__(self, elements, nodes):
        self.elems = elements
        self.nodes = nodes
    
    def compute_length(self):
        # multi index reference df.loc[:, ('level 1 label', 'level 2 label')]
        # slice(None) : when we don't want sth in particular in this level
        xj = self.nodes.loc[self.elems['node_j'].astype(int)].set_index(self.elems.index)
        xk = self.nodes.loc[self.elems['node_k'].astype(int)].set_index(self.elems.index)
        self.plot = pd.concat([xj, xj], axis=1, keys=['j','k'])
        dx = pd.DataFrame(xk.values - xj.values, index=self.elems.index, columns=['dx', 'dy'])
        dx['angle'] = np.arctan2(dx['dy'], dx['dx'])
        dx['length'] = (dx.dx**2 + dx.dy**2)**0.5
        self.elems = pd.concat([ self.elems, dx[['length','angle']] ], axis=1)
        return self.elems

In [108]:
S = Structure(elems, coordinates)

S.compute_length()

                       Dx1j  Dx2j  node_j  node_k  Dx1k  Dx2k    b    h  \
ElementType ElementID
P2          1           0.9   0.0     1.0     2.0   0.0   0.0  0.2  0.5
            2           0.0   0.0     2.0     3.0   0.0   0.0  0.2  0.4
P1          3           0.0   0.0     3.0     4.0   0.0   0.0  0.0  1.0
            4           0.0   0.0     3.0     5.0   0.0   0.0  0.0  1.0

                           A         I            E   Tin   Tex    To   dL  \
ElementType ElementID
P2          1          0.100  0.002083   20000000.0  20.0  40.0  10.0  0.0
            2          0.080  0.001067   20000000.0  20.0  40.0  10.0  0.0
P1          3          0.001  0.000000  200000000.0  20.0  20.5  10.0  0.0
            4          0.001  0.000000  200000000.0  20.0  20.5  10.0  0.0

                         length     angle
ElementType ElementID
P2          1          6.100000  0.000000
            2          5.200000  0.000000
P1          3          2.662705 -2.169215
            4          2.662705 -0.972377